body {
    max-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
}

h1 {
    line-height: 1;
    font-family: Fraunces;
}

h5 {
    letter-spacing: 3px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

strike {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    position: relative;
    left: 150px;
    bottom: 50px;
}

span {
    position: relative;
    top: 13px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    margin-top: 5rem;
    width: 600px;
    height: 450px;
    display: flex;
    border-radius: 15px;
}

.text {
    line-height: 1.5;
    letter-spacing: -1px;
    font-family: Montserrat;
    margin: 5% 8% 0 5%;
    text-align: left;
}

.cart {
    text-align: center;
    height: 50px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
}

.img {
    width: 300px;
    height: 450px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.img1 {
    position: relative;
    top: 12px;
    vertical-align: top;
    margin: 5px;
    width: 15px;
    height: auto;
}

.price {
    color: hsl(158, 36%, 37%);
}



@media screen and (max-width:600px) {
    .img {
        width: 300px;
        height: 210px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        content: url("images/image-product-mobile.jpg");
    }

    .card {
        margin-top: 4rem;
        flex-wrap: wrap;
        height: 620px;
        background-color: hsl(0, 0%, 100%);
        width: 300px;
    }
    .text{
        padding-bottom: 100px;
    }

}

.cart:hover{
    background-color: #184131;
}